.box{
    width: 200px;
    height: 200px;
    background: orange;
    animation-name: color, rotate;
    animation-duration: 5s, 2s;
    position: absolute;
    animation-iteration-count: 3, infinite;
    animation-direction: alternate, normal;
    animation-delay: 2s, 15s;
    animation-fill-mode: forwards;
    animation-timing-function: ease, linear;
}
@keyframes color {
    0%{ background: green; left: 0; top: 0;}
    50%{ background: red; left: 300px; top: 200px;}
    100%{ background: blue; left: 500px; top: 0;}
}
@keyframes rotate {
    100%{ transform: rotate(360deg);}
}
.box:hover 
{
    animation-play-state: paused;
}